@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
.container {
    position: relative;
    width: 1512px;
    height: 982px;
    background: #fff;
}

.header-inner h1 {
    width: 1512px;
    height: 100px;
    font-family: Inika,serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(139, 121, 105, 1);
    border-bottom: 1px solid #C5B9B0;
    background-color: #fff;
}

.header-logout {
    position: absolute;
    width: 100px;
    height: 34px;
    top: 33px;
    left: 1316px;
    border : 1px solid rgba(217, 198, 181, 1);
}

.header-logout__item {
    width: 98px;
    height: 32px;
    top: 34px;
    left: 1317px;
    font-family: Inika,serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    background: rgba(240, 240, 240, 0.6);

}

main h2 {
    position: absolute;
    width: 111px;
    height: 46px;
    left: 700px;
    top: 140px;

    font-family: 'Inika',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px; /* ボックスの高さと同一 */
    color: #8B7969;
}

.search-form__item {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    align-items: center;
    width: 917px;
    height: 50px;
    top: 215px;
    left: 164px;
}

.search-form__item-input,
.search-form__item-select,
.search-form__item-date {

    border: 1px solid rgba(227, 222, 217, 1);
    background: rgba(244, 244, 244, 1);
    color: rgba(139, 121, 105, 1);
    height: 50px;
}

.customer-data-table__row button {
    font-family: Inika,serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(217, 198, 181, 1);
    background: rgba(244, 244, 244, 0.3);
    border: 1px solid rgba(217, 198, 181, 0.6);

}

.search-form__button-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-form__button-submit,
.reset__button-input{
    padding: 12px 24px;
    font-size: 16px;
    width:102.48px;
    height: 50px;
    box-sizing: border-box;

    font-family: Inika,serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.search-form__button-submit {
    border: 1px solid rgba(139, 121, 105, 1);
    background: rgba(130, 117, 106, 1);
    color:#fff;
}

.reset__button-input{
    border: 1px solid rgba(217, 198, 181, 1);
    background: rgba(217, 198, 181, 1);
    color: rgba(255, 255, 255, 1);

}

.container__item {
    position: absolute;
    width: 148px;
    height: 39px;
    top: 302px;
    left: 164px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    gap: 10px;
}

.button__item {
    width: 160px;
    height: 39px;
    top: 302px;
    left: 164px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    gap: 10px;
    font-family: Inika,serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(139, 121, 105, 1);
    background: rgba(225, 219, 214, 0.6);
    border: 1px solid rgba(225, 219, 214, 0.6);

}


.customer-data-table {
    position: absolute;
    width: 1183px;
    height: 59px;
    top: 364px;
    left: 164px;
    text-align: center;
    border: 1px solid rgba(224, 223, 222, 1);
}

.customer-data-table thead {
    border: 1px solid rgba(224, 223, 222, 1);
    background: rgba(139, 121, 105, 1);
    color:#fff;
    width: 1183px;
    height: 59px;
    top: 364px;
    left: 164px;
    font-family: Inika,serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.customer-data-table tbody {
    border: 1px solid rgba(224, 223, 222, 1);
    color: rgba(139, 121, 105, 1);
    width: 1183px;
    height: 59px;
    top: 364px;
    left: 164px;
    font-family: Inika,serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}



